@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

@layer base {
    
    html,
    body {
        overscroll-behavior: none;
    }

    body {
        margin: 0 auto;
        max-width: 100%;
        height: 100%;
        overflow-y: auto;
        overflow-x: hidden;
    }

}
